.loader {
    width: 160px;
    height: 185px;
    position: relative;
    background: #fff;
    border-radius: 100px 100px 0 0;
  }
  .loader:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 125px;
    left: 50%;
    top: 25px;
    transform: translatex(-50%);
    background-image: radial-gradient(circle, #000 48%, transparent 55%),
      radial-gradient(circle, #000 48%, transparent 55%),
      radial-gradient(circle, #fff 30%, transparent 45%),
      radial-gradient(circle, #000 48%, transparent 51%),
      linear-gradient(#000 20px, transparent 0),
      linear-gradient(#cfecf9 60px, transparent 0),
      radial-gradient(circle, #cfecf9 50%, transparent 51%),
      radial-gradient(circle, #cfecf9 50%, transparent 51%);
    background-repeat: no-repeat;
    background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
      50px 25px, 70px 70px, 70px 70px;
    background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
      50% 50px, 50% 22px, 50% 45px;
    animation: facelift 0.5s linear infinite alternate;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 125px;     
    left: -20%;
    top: 0;
    background-image: radial-gradient(circle, #fff 48%, transparent 50%),
      radial-gradient(circle, #fff 48%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 65px 65px;
    background-position: 0px 12px, 145px 12px;
    animation: earlift 0.5s linear infinite alternate;
  }
  
  @keyframes facelift {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(-30%);
    }
  }
  
  @keyframes earlift {
    0% {
      transform: translateX(0.625rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* Add media query for smaller screens */
  @media (max-width: 768px) {
    .loader {
      width: 8rem;
      height: 10rem;
    }
  
    .loader:after {
      width: 5rem;
      height: 6rem;
      background-size: 0.8rem 0.8rem, 0.8rem 0.8rem, 0.5rem 0.5rem, 2rem 2rem,
        0.5rem 0.1rem, 2.5rem 1.25rem, 3rem 3rem, 3rem 3rem;
      background-position: 1rem 0.5rem, 2.5rem 0.5rem, 1.5rem 2rem, 50% 1.5rem,
        50% 4rem, 50% 2.5rem, 50% 1rem, 50% 2rem;
    }
  
    .loader:before {
      height: 7rem;
      background-size: 3rem 3rem;
      background-position: 0.5rem 0.5rem, 7rem 0.5rem;
    }
  }
  